---
import Text from '@/components/common/Text/Text.astro';
import arrowNextImage from '/icons/arrow-right.svg';
import CardPlace from '@/components/modules/CardPlace/CardPlace.astro';
import { LIST_FLIGHT_DEALS } from '@/constants';
---

<section class="container py-10 lg:mb-5 relative z-[-1]">
  <div class="flex justify-between mb-4 md:mb-6 flex-wrap">
    <Text
      className="text-lg md:text-2xl"
      color="secondary"
      style="bold"
      size="large" 
    >
      Find your next adventure with these <span class="text-primary"
        >flight deals</span
      >
    </Text>
    <a class="text-grey-300 text-lg md:text-2xl flex items-center" href="/"
      >All
      <img src={arrowNextImage} alt="icon next" />
    </a>
  </div>
  <div class="flex flex-wrap -mx-2 lg:-mx-5">
    {
      LIST_FLIGHT_DEALS.map((itemFlightDeals) => (
        <CardPlace
          dataCard={itemFlightDeals}
          className="w-full sm:w-1/2 md:w-1/3 last:sm:w-1/2 last:md:w-full"
        />
      ))
    }
  </div>
</section>
