---
import { LIST_MENU_NAV } from '@/constants';
---

<nav class="hidden md:flex list-none items-center gap-x-4">
  {
    LIST_MENU_NAV.map((menuItem) => (
      <li>
        <a class="p-2.5 text-grey-400 text-base" href={menuItem.href}>
          {menuItem.name}
        </a>
      </li>
    ))
  }
</nav>
