---
import Message from '@/components/common/Message/Message.astro';
import Text from '@/components/common/Text/Text.astro';
---

<div data-aos="fade-down">
  <Message
    text="Your flight has been booked successfully! Your confirmation number is #381029404387"
  />
  <h1 class="text-2xl font-bold text-primary mb-4">Bon voyage, Sophia!</h1>
  <Text color="secondary" className="mb-4">
    Confirmation number: #381029404387
  </Text>
  <Text>
    Thank you for booking your travel with Tripma! Below is a summary of your
    trip to Narita airport in Tokyo, Japan. We’ve sent a copy of your booking
    confirmation to your email address. You can also find this page again in <span
      class="text-primary">My trips.</span
    >
  </Text>
</div>
