---
import Text from '@/components/common/Text/Text.astro';
import { DATA_FLIGHT_DETAIL } from '@/constants';
---

<div class="max-w-[300px]" data-aos="fade-down">
  <h2 class="mb-6 text-2xl font-bold text-grey-600">Price breakdown</h2>
  <ul class="flex flex-col gap-y-3 mb-4">
    {
      DATA_FLIGHT_DETAIL.map((itemBill) => (
        <li class="flex justify-between">
          <Text color="secondary">{itemBill.description}</Text>
          <Text color="secondary">${itemBill.price}</Text>
        </li>
      ))
    }
  </ul>
  <div class="flex justify-between py-3 border-y border-solid border-grey-200">
    <Text className="text-grey-800 font-semibold">Amount paid</Text>
    <Text className="text-grey-800 font-semibold">$768</Text>
  </div>
</div>
