---
import FlightSummary from './FlightSummary.astro';
import InfoFlight from './InfoFlight.astro';
import OrderBill from './OrderBill.astro';
import RecommendPlace from './RecommendPlace.astro';
import ShareItinerary from './ShareItinerary.astro';
import TypePayment from './TypePayment.astro';
---

<section class="container px-4 md:px-8 lg:px-14 mb-1 mt-32">
  <div class="flex md:flex-row flex-col">
    <div class="md:w-3/5 md:mr-8 xl:mr-[92px] flex flex-col gap-y-14">
      <InfoFlight />
      <FlightSummary />
      <OrderBill />
      <TypePayment />
      <ShareItinerary />
    </div>
    <div class="flex-1">
      <RecommendPlace />
    </div>
  </div>
</section>
