---
import { DATA_RECOMMEND_HOTEL, DATA_UNIQUE_EXPERIENCES } from '@/constants';
import CardPlace from '../CardPlace/CardPlace.astro';
import Text from '@/components/common/Text/Text.astro';
import Button from '@/components/common/Button/Button.astro';
---

<div class="mb-16" data-aos="fade-down">
  <Text size="large" color="secondary" style="bold">
    Shop <span class="text-primary">hotels</span>
  </Text>
  <Text>
    Tripma partners with thousands of hotels to get you the best deal. Save up
    to 30% when you add a hotel to your trip.
  </Text>
  <div class="-mx-2 md:-mx-5">
    {
      DATA_RECOMMEND_HOTEL.map((itemPlace) => (
        <CardPlace className="px-0" isSmallThumb dataCard={itemPlace} />
      ))
    }
  </div>
  <div class="text-center">
    <Button className="mt-5" intent="secondary" size="large">
      Shop all hotels
    </Button>
  </div>
</div>
<div data-aos="fade-down">
  <Text size="large" color="secondary" style="bold">
    Find unique <span class="text-primary">experiences</span>
  </Text>
  <Text>
    Find events and authentic cultrual experiences available exclusively to
    Tripma users.
  </Text>
  <div class="-mx-2 md:-mx-5">
    {
      DATA_UNIQUE_EXPERIENCES.map((itemPlace) => (
        <CardPlace className="lg:px-0" isSmallThumb dataCard={itemPlace} />
      ))
    }
  </div>
  <div class="text-center">
    <Button className="mt-5" intent="secondary" size="large">
      Shop all hotels
    </Button>
  </div>
</div>
