---
import Button from '@/components/common/Button/Button.astro';
import Input from '@/components/common/Input/Input.astro';
import Text from '@/components/common/Text/Text.astro';
import mapImage from '/images/map-large.png';
---

<div data-aos="fade-down">
  <h2 class="mb-6 text-2xl font-bold text-grey-600">
    Share your travel itinerary
  </h2>
  <Text className="mb-6">
    You can email your itinerary to anyone by entering their email address here.
  </Text>
  <form class="sm:max-w-[400px] flex flex-col gap-y-6">
    <Input placeholder="Email address" />
    <Input placeholder="Email address" />
    <Input placeholder="Email address" />
    <div class="flex gap-4 flex-wrap">
      <Button className="w-full sm:w-auto" intent="primary" size="large">
        Email itinerary
      </Button>
      <Button
        className="w-full sm:w-auto text-primary hover:bg-purple-light px-4 py-3"
      >
        Email itinerary
      </Button>
    </div>
  </form>
</div>
<div data-aos="fade-down">
  <h2 class="mb-6 text-2xl font-bold text-grey-600">
    Share your travel itinerary
  </h2>
  <img src={mapImage} alt="map" />
</div>
