---
import Text from '@/components/common/Text/Text.astro';
import src from '/icons/visa.svg';
---

<div data-aos="fade-down">
  <h2 class="mb-6 text-2xl font-bold text-grey-600">Payment method</h2>
  <div class="md:w-[300px] bg-pinkGradient rounded-xl px-7 py-6">
    <img {src} alt="logo visa" />
    <div class="mt-14">
      <Text className="text-purple-while font-semibold mb-2">
        Sophia Knowles
      </Text>
      <div class="flex justify-between">
        <Text className="text-purple-while">••••••••••••3456</Text>
        <Text className="text-purple-while">10/23</Text>
      </div>
    </div>
  </div>
</div>
