---
import { cva, cx } from 'class-variance-authority';
import src from '/icons/check.svg';
import Button from '../Button/Button.astro';

const seat = cva(
  'rounded inline-flex items-center justify-center bg-gradient-to-b',
  {
    variants: {
      type: {
        economy:
          'from-[#605DEC] to-[#2A26D9] w-[22px] h-8 hover:from-[#1513A0] hover:to-[#1513A0]',
        business:
          'from-[#5CD6C0] to-[#22C3A6] w-[30px] h-10 hover:from-[#009B7F] hover:to-[#009B7F]',
      },
    },
  },
);

interface Props {
  type: 'economy' | 'business';
  isDisable?: boolean;
  class?: string;
}

let isSelected: boolean = false;

const { type = 'economy', isDisable = false, class: className } = Astro.props;
---

<Button
  className={seat({
    type,
    class: cx(
      {
        'from-[#EB568C] to-[#ED5E76] hover:from-[#EB568C] hover:to-[#ED5E76]':
          isSelected,
        'bg-none cursor-default bg-purple-extra': isDisable,
      },
      className,
    ),
  })}
>
  {isSelected && <img {src} alt="icon check" />}
</Button>
