---
import Text from '@/components/common/Text/Text.astro';
import CartPlace from '../CardPlace/CardPlace.astro';
import arrowNextImage from '/icons/arrow-right.svg';
import { LIST_FLIGHT_DEALS_DETAIL } from '@/constants';
---

<section class="container py-10 lg:mb-10">
  <div class="flex justify-between mb-4 md:mb-6 flex-wrap">
    <Text
      className="text-lg md:text-2xl"
      color="secondary"
      style="bold"
      size="large"
    >
      places to stay <span class="text-primary">flight deals</span>in Japan
    </Text>
    <a
      class="text-grey-300 text-lg md:text-2xl flex items-center"
      href="/public"
      >All
      <img src={arrowNextImage} alt="icon next" />
    </a>
  </div>
  <div class="flex flex-wrap -mx-2 lg:-mx-5">
    {
      LIST_FLIGHT_DEALS_DETAIL.map((itemFlightDeals) => (
        <CartPlace
          dataCard={itemFlightDeals}
          type="stay"
          className="w-full sm:w-1/2 md:w-1/3"
        />
      ))
    }
  </div>
</section>
