---
import Text from '@/components/common/Text/Text.astro';
import CardPlace from '../CardPlace/CardPlace.astro';
import arrowNextImage from '/icons/arrow-right.svg';
import { POPULAR_PEOPLE_SEARCH } from '@/constants';
---

<section class="md:mb-10">
  <div class="flex justify-between mb-4 md:mb-6 flex-wrap">
    <Text
      className="text-lg md:text-2xl"
      color="secondary"
      style="bold"
      size="large"
    > 
      People in <span class="text-primary">San Francisco </span>also searched for
    </Text>
    <a class="text-grey-300 text-lg md:text-2xl flex items-center" href="/public"
      >All
      <img src={arrowNextImage} alt="icon next" />
    </a>
  </div>
  <div class="flex flex-wrap -mx-2 lg:-mx-5">
    {
      POPULAR_PEOPLE_SEARCH.map((itemPlaceStay) => (
        <CardPlace
          type="deal"
          dataCard={itemPlaceStay}
          className="w-full sm:w-1/2 md:w-1/3"
        />
      ))
    }
  </div>
</section>
