---
import Button from '@/components/common/Button/Button.astro';
import Text from '@/components/common/Text/Text.astro';
---

<Text color="secondary" className="mr-4 inline-block">Price rating</Text>
<Button size="small" className="bg-secondary text-white">By soon</Button>
<Text className="mt-3" color="secondary" size="small">
  We recommend booking soon. The average cost of this flight is $750, but could
  rise 18% to $885 in two weeks.
</Text>
<Text className="mt-2 text-grey-300" size="small">
  Tripma analyzes thousands of flights, prices, and trends to ensure you get the
  best deal.
</Text>
