---
import Text from '@/components/common/Text/Text.astro';
---

<div class="mb-4 w-full">
  <Text className="text-grey-600 font-semibold text-lg mb-4 ml-1 w-full">
    Price grid <span class="text-grey-400">(flexible dates)</span>
  </Text>
  <table class="border border-solid border-purple-light rounded-xl w-full lg:w-auto">
    <tr>
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer"
      ></td>
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white text-xs font-bold cursor-pointer"
        >2/12</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white text-xs font-bold cursor-pointer"
        >2/13</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white text-xs font-bold cursor-pointer"
        >2/14</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white text-xs font-bold cursor-pointer"
        >2/15</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white text-xs font-bold cursor-pointer"
        >2/16</td
      >
    </tr>
    <tr>
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white text-sm cursor-pointer"
        >3/7</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
    </tr>
    <tr>
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white text-sm cursor-pointer"
        >3/8</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
    </tr>
    <tr>
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white text-sm cursor-pointer"
        >3/9</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
    </tr>
    <tr>
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white text-sm cursor-pointer"
        >3/10</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
    </tr>
    <tr>
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white text-sm cursor-pointer"
        >3/11</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
      <td
        class="border border-solid border-purple-light text-center w-[65px] h-[40px] hover:bg-primary hover:text-white cursor-pointer text-sm lg:text-base"
        >$837</td
      >
    </tr>
  </table>
</div>
