---
import Text from '@/components/common/Text/Text.astro';
import src from '/images/price-history.png';
---

<div class="mb-4 w-full lg:w-auto">
  <Text className="mb-4" color="secondary">Price History</Text>
  <img class="w-full" {src} alt="price history" />
</div>
