---
import Layout from '@/layouts/Layout.astro';
import FlightFilter from '../../components/modules/Search/FlightFilter/FlightFilter.svelte';
import FlightFilterResult from '../../components/modules/Search/FlightFilterResult/FlightFilterResult.svelte';
import PlacesStayDetail from '../../components/modules/Search/PlacesStayDetail/PlacesStayDetail.svelte';
import PopularPeopleSearch from '../../components/modules/Search/PopularPeopleSearch/PopularPeopleSearch.svelte';
---

<Layout title="Welcome to Astro.">
  <div class="container px-8">
    <FlightFilter client:load />
    <FlightFilterResult client:load />
    <PlacesStayDetail  />
    <PopularPeopleSearch />
  </div>
</Layout>