---
import FlightFilter from '@/components/modules/Search/FlightFilter.astro';
import FlightFilterResult from '@/components/modules/Search/FlightFilterResult.astro';
import PlacesStayDetail from '@/components/modules/Search/PlacesStayDetail.astro';
import PopularPeopleSearch from '@/components/modules/Search/PopularPeopleSearch.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <div class="container px-4">
    <FlightFilter />
    <FlightFilterResult />
    <PlacesStayDetail />
    <PopularPeopleSearch />
  </div>
</Layout>
