---
import { cx } from 'class-variance-authority';
import Button from '../Button/Button.astro';
import Text from '../Text/Text.astro';
import iconClose from '/icons/close-grey.svg';

interface Props {
  text: String;
  className?: string;
}

const { text, className } = Astro.props;
---

<div
  class={cx(
    'flex items-center justify-between px-6 py-4 border border-solid border-green-400 rounded-lg bg-green-200 mb-10',
    className,
  )}
>
  <Text size="small" className="text-green-400">{text}</Text>
  <Button className="w-8 h-8 flex-shrink-0">
    <img src={iconClose} alt="icon close" />
  </Button>
</div>
