---
import Footer from '../components/modules/Footer/Footer.astro';
import Header from '../components/modules/Header/Header.astro';
import Head from './components/Head.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} content={Astro.generator} />
  <body>
    <Header />
    <main class="mt-[94px]">
      <slot />
    </main>
    <Footer />
    <script src="../AOS/"></script>
  </body>
</html>
