---
import logo from '/logo.svg';
import Button from '@/components/common/Button/Button.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <header class="flex px-6 py-5">
        <Button className="px-0 mr-3">
          <img src="/icons/menu.svg" alt="menu" />
        </Button>
        <a href="/" class="p-3">
          <img src={logo} alt="logo" />
        </a>
    </header>
    <main class="mt-[94px]">
      <slot />
    </main>
  </body>
</html>
