---
import Head from './components/Head.astro';
import logo from '/logo.svg';
import Button from '@/components/common/Button/Button.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} content={Astro.generator} />
  <body>
    <header class="flex px-6 py-5">
      <Button className="px-0 mr-3">
        <img src="/icons/menu.svg" alt="menu" />
      </Button>
      <a href="/" class="p-3">
        <img src={logo} alt="logo" />
      </a>
    </header>
    <main class="mt-[94px]">
      <slot />
    </main>
    <script src="../AOS/"></script>
  </body>
</html>
