---
import Input from '@/components/common/Input/Input.astro';
import Checkbox from '@/components/common/Checkbox/Checkbox.astro';
import { SELECT_FLIGHT } from '@/constants';
import src from '/images/luggage.png';
import Text from '@/components/common/Text/Text.astro';
import Button from '@/components/common/Button/Button.astro';
import FlightDetail from '../FlightDetail/FlightDetail.astro';
import Counter from '@/components/common/Counter/Counter.astro';

let isFilled = true;
---

<div class="flex justify-between gap-x-4 flex-wrap lg:flex-nowrap mt-9">
  <div class="w-full lg:w-[600px] xl:w-[682px]" data-aos="fade-down">
    <Text className="mb-6">Passenger 1 (Adult)</Text>
    <form on:submit|preventDefault={() => {}} action="">
      <div class="flex gap-6 flex-wrap items-start mb-6">
        <Input className="w-full md:w-[200px]" placeholder="First name*" required />
        <Input className="w-full md:w-[200px]" placeholder="Middle" />
        <Input className="w-full md:w-[200px]" placeholder="Last name*" required />
        <Input className="w-full md:w-[200px]" placeholder="Suffix" required />
        <div>
          <Input placeholder="Date of birth*" required />
          <Text className="text-xs mt-1.5">MM/DD/YY</Text>
        </div>
      </div>
      <div class="flex gap-6 flex-wrap mb-12">
        <Input className="w-full md:w-[300px]" placeholder="Email address*" required />
        <Input className="w-full md:w-[300px]" placeholder="Phone number*" required />
        <Input className="w-full md:w-[300px]" placeholder="Redress number" />
        <Input
          className="w-full md:w-[300px]"
          placeholder="Known traveller number*"
          required
        />
      </div>
      <Text color="secondary" className="mb-6">
        Emergency contact information
      </Text>
      <Checkbox label="Same as Passenger 1" />
      <div class="flex gap-6 flex-wrap mt-6 mb-12">
        <Input className="w-full md:w-[300px]" placeholder="First name*" required />
        <Input className="w-full md:w-[300px]" placeholder="Last name*" required />
        <Input className="w-full md:w-[300px]" placeholder="Email address*" />
        <Input className="w-full md:w-[300px]" placeholder="Phone number*" required />
      </div>
      <Text color="secondary" className="mb-2.5">Bag information</Text>
      <Text className="mb-9">
        Each passenger is allowed one free carry-on bag and one personal item.
        First checked bag for each passenger is also free. Second bag check fees
        are waived for loyalty program members. See the <span
          class="text-primary">full bag policy.</span
        >
      </Text>
      <div class="flex mb-4">
        <Text className="w-1/2">Passenger 1</Text>
        <Text className="w-1/2">Passenger 1</Text>
      </div>
      <div class="flex mb-[75px]">
        <Text className="w-1/2">First Last</Text>
        <Counter valueCounter="1" className="w-1/2" />
      </div>
      <Button className="mb-4 sm:mb-0 mr-6 px-5 py-[9px] w-full sm:w-auto" intent="secondary">
        Save and close
      </Button>
      <a
        href="/bookseat"
        class={`rounded px-5 py-2 lg:py-3 text-lg text-center block sm:inline-block transition-colors ${
          isFilled
            ? 'bg-primary text-grey-100 hover:bg-purple-dark'
            : 'bg-grey-200/[.3] text-grey-400 cursor-not-allowed'
        }`}>Select seats</a
      >
    </form>
  </div>
  <div class="flex lg:items-end sm:items-start flex-col w-full lg:w-auto" data-aos="fade-down">
    <FlightDetail className="mt-7 mb-4 w-full lg:w-auto" listSelectedFlight={SELECT_FLIGHT} />
    <a
      href="/bookseat"
      class={`rounded text-center px-5 py-2.5 mt-8 lg:mb-[104px] text-lg transition-colors ${
        isFilled
          ? 'bg-primary text-grey-100 hover:bg-purple-dark'
          : 'bg-grey-200/[.3] text-grey-400 cursor-not-allowed'
      }`}>Select seats</a
    >
    <img class="hidden lg:block" {src} alt="img luggage" />
  </div>
</div>
